.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #ff0000;
    animation-name: open;
    animation-duration: 5s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
  }
  @keyframes open {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(180deg);
    }
  }
  